*{
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}
body{
    background : #FBC02D;
    font-family : Century Gothic, sans-serif; 
    font-weight: bold;
    height: 100%;
    width: 100%;
    margin: 0;}

.choicesGame{
    width: 500px;
    text-align: left;
    margin: 10px 110px;
    border-collapse: separate;

}

h1{
    padding-left: 20px;
    font-size: 40px;

}
h2{
    font-size: 24x;
}

/*FOR CHECK BOX AND RADIO BUTTONS*/
input[type="checkbox"],
input[type="radio"] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.radLabel {
    font-size: 13px;
  position: relative;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-left: 30px;
  padding-right: 10px;
  line-height: 36px;
  cursor: pointer;
}
.radLabel::before {
  content: " ";
  position: absolute;
  top: 6px;
  left: 0;
  display: block;
  width: 15px;
  height: 15px;
  border: 2px solid #3D4C53;
  border-radius: 4px;
  z-index: -1;
}

.ckLabel {
  font-size: 12px;
  position: relative;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  padding-left: 20px;
  padding-right: 10px;
  line-height: 36px;
  cursor: pointer;
}
.ckLabel::before {
  content: " ";
  position: absolute;
  top: 10px;
  left: 0;
  display: block;
  width: 8px;
  height: 8px;
  border: 2px solid #8e44ad;
  border-radius: 4px;
  z-index: -1;
}

.container{
      padding-left: 20px;
}

input[type="radio"] + .radLabel::before {
  border-radius: 18px;
}
/* Checked */
input[type="checkbox"]:checked + .ckLabel,
input[type="radio"]:checked + .radLabel {
  padding-left: 10px;
  color: #fff;
}
input[type="checkbox"]:checked + .ckLabel::before,
input[type="radio"]:checked + .radLabel::before {
  top: 0;
  width: 100%;
  height: 100%;
  background: #3D4C53;
}
/* Transition */
.radLabel,
.radLabel::before {
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}
.ckLabel,
.ckLabel::before {
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}



/*FOR SELECT BOX */
.typeGame{
    float:left;
}
.difficultyGame{
 margin-left: 60px;
}



/* ===== Select Box ===== */
.sel {
  font-size: 1rem;
  display: inline-block;
  margin: 1em 2em;
  margin-left: 10px;
  width: 200px;
  background-color: transparent;
  position: relative;
  cursor: pointer;
}

.sel::before {
  position: absolute;
  content: '\25BC';
  font-size: 1em;
  color: #FFF;
  right: 20px;
  top: calc(50% - 0.5em);
}

.sel.active::before {
  transform: rotateX(-180deg);
}

.sel__placeholder {
  display: block;

  font-size: 1.1em;
  color: #3D4C53;
  padding: 0.2em 0.5em;
  text-align: left;
  pointer-events: none;
  user-select: none;
  visibility: visible;
}

.sel.active .sel__placeholder {
  visibility: hidden;
}

.sel__placeholder::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.2em 0.5em;
  content: attr(data-placeholder);
  visibility: hidden;
}

.sel.active .sel__placeholder::before {
  visibility: visible;
}

.sel__box {
  position: absolute;
  top: calc(100% + 4px);
  left: -4px;
  display: none;
  list-style-type: none;
  text-align: left;
  font-size: 1em;
  background-color: #FFF;
  width: calc(100% + 8px);
  box-sizing: border-box;
}

.sel.active .sel__box {
  display: block;
  animation: fadeInUp 500ms;
}

.sel__box__options {
  display: list-item;
  font-size: 1em;
  color: #26A69A;
  padding: 0.5em 1em;
  user-select: none;
}

.sel__box__options::after {
  content: '\221A';  /*check mark*/
  font-family: 'FontAwesome';
  font-size: 0.5em;
  margin-left: 5px;
  display: none;
}

.sel__box__options.selected::after {
  display: inline;
}

.sel__box__options:hover {
  background-color: #ebedef;
}

/* ----- Select Box Black Panther ----- */
.sel {
  border-bottom: 4px solid rgba(0, 0, 0, 0.3);
}

.sel--black-panther {
  z-index: 3;
}

/* ----- Select Box Superman ----- */
.sel--superman {
/*   display: none; */
  z-index: 2;
}

/* ===== Keyframes ===== */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 20px, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}





/*FOR LABELS AND BUTTONS*/


.button {
  background: #3D4C53;
  margin : 20px auto;
  width : 200px;
  height : 50px;
  overflow: hidden;
  text-align : center;
  transition : .2s;
  cursor : pointer;
  border-radius: 3px;
  box-shadow: 0px 1px 2px rgba(0,0,0,.2);
}
.btnTwo {
  position : relative;
  width : 200px;
  height : 100px;
  margin-top: -65px;
  padding-top: 2px;
  background : #26A69A;
  left : -250px;
  transition : .3s;
}
.btnText {
  margin-top : 18px;
  color : white;
  transition : .3s;
}
.btnText2 {
  margin-top : 48px;
  margin-right : -130px;
  color : #FFF;
}
.button:hover .btnTwo{ /*When hovering over .button change .btnTwo*/
  left: -130px;
}
.button:hover .btnText{ /*When hovering over .button change .btnText*/
  margin-left : 65px;
}
.button:active { /*Clicked and held*/
  box-shadow: 0px 5px 6px rgba(0,0,0,0.3);
}



#inputholder{
  background: white;
  width: 250px;
  box-shadow: 0px 3px 8px rgba(0,0,0,0.25);
  border-radius: 2px;
}

.group {
	position: relative; /*for ripples */
}

.ripInput {
	font-size: 18px;
	padding: 10px 10px 10px 5px;
	-webkit-appearance: none;
	color: #636363;
	width: 100%;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #757575;
}

.ripInput:focus { outline: none; }


/* Label */
.ripLabel {
    opacity: 0;
	font-size: 18px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 5px;
	top: 10px;
	transition: all 0.2s ease;
}


/* active */

input:focus ~ .ripLabel, input.used ~ .ripLabel {
    opacity: 1;
	top: -20px;
  transform: scale(.75); left: -2px;
	/* font-size: 14px; */
	color: #4a89dc;
}



/* Underline */

.bar {
	position: relative;
	display: block;
	width: 100%;
}

.bar:before, .bar:after {
	content: '';
	height: 2px;
	width: 0;
	bottom: 1px;
	position: absolute;
	background: #4a89dc;
	transition: all 0.2s ease;
}

.bar:before { left: 50%; }

.bar:after { right: 50%; }


/* active */

.ripInput:focus ~ .bar:before, .ripInput:focus ~ .bar:after { width: 50%; }


/* Highlight */

.highlight {
	position: absolute;
	height: 60%;
	width: 100px;
	top: 25%;
	left: 0;
	pointer-events: none;
	opacity: 0.5;
}


/* active */

.ripInput:focus ~ .highlight {
	animation: inputHighlighter 0.3s ease;
}


/* Animations */

@keyframes inputHighlighter {
	from { background: #4a89dc; }
	to 	{ width: 0; background: transparent; }
}




/* Ripples container */

.ripples {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: transparent;
}


/* Ripples circle */

.ripplesCircle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.25);
}

.ripples.is-active .ripplesCircle {
  animation: ripples .4s ease-in;
}


/* Ripples animation */

@keyframes ripples {
  0% { opacity: 0; }

  25% { opacity: 1; }

  100% {
    width: 200%;
    padding-bottom: 200%;
    opacity: 0;
  }
}












